
# Puerto donde correrá el servidor
PORT=3001

# Credenciales de Correo (SMTP)
# Reemplaza con tu correo de Gmail
EMAIL_USER=tu-correo@gmail.com

# IMPORTANTE: No uses tu contraseña normal de Gmail.
# Debes generar una "Contraseña de Aplicación" en tu cuenta de Google.
# Guía: https://support.google.com/accounts/answer/185833
EMAIL_PASS=tu-codigo-de-16-letras-aqui
